# Editor
DeadCreator/CMakeLists.txt
DeadCreator/cocos2d/
DeadCreator/proj.ios_mac/
DeadCreator/proj.linux/
DeadCreator/proj.win10/
DeadCreator/proj.win32/


Server/TheDeadForestTestClient/TheDeadForestTestClient.xcodeproj/project.pbxproj
Server/TheDeadForestTestClient/TheDeadForestTestClient.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Server/TheDeadForestTestClient/TheDeadForestTestClient.xcodeproj/project.xcworkspace/xcuserdata/DBK.xcuserdatad/UserInterfaceState.xcuserstate
Server/TheDeadForestTestClient/TheDeadForestTestClient.xcodeproj/xcuserdata/DBK.xcuserdatad/xcschemes/TheDeadForestTestClient.xcscheme
Server/TheDeadForestTestClient/TheDeadForestTestClient.xcodeproj/xcuserdata/DBK.xcuserdatad/xcschemes/xcschememanagement.plist
